/************************************************************************************
RESET
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul, dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object, a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span, strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
}
img, fieldset {
	border: 0;
	outline: none;
}
a {
	outline: none;
	border: 0;
}
/* set image max width to 100% */
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
	border: 0;
}
.roundcornerz {
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.dropShadow {
	-moz-box-shadow: 4px 4px 5px #f0f0f0;
	-khtml-box-shadow: 4px 4px 5px #f0f0f0;
	-webkit-box-shadow: 4px 4px 5px #f0f0f0;
	box-shadow: 4px 4px 5px #f0f0f0;
}
a {
	text-decoration: none;
}
.clr {
	clear:both;
}
h2 {
	color:#4a3c33;
	font-size:16px;
}
.profileTxt {
	border:1px solid #c5d5d5;
	width:255px;
	height:31px;
	padding-left:7px;
	margin-top:10px;
	font-style:italic;
}
.cbMale {
	color:#000;
	font-style:italic;
}
.radioDiv {
	margin:25px 0;
}
.dropDownMini {
	width: 80px;
	height: 26px;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.ddl {
	border:1px solid #c5d5d5;
	width:262px;
	height:33px;
	padding-left:7px;
	margin-top:10px;
	font-style:italic;
}
.innerDDl {
	background-color:#fff;
	display:block;
	padding:5px 0px;
}
/*******************************************/
body {
	background-color: #deedf6;
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	color: #4a3c33;
	font-size: 13px;
	font-weight:bold;
	position:relative;
}
#mainHeader {
	background-color: #15a1d4;
	min-height: 50px;
	padding-top: 5px;
}
.wrapperDiv {
	width: 1003px;
	margin: 0 auto;
	padding: 0px;
}
.logoDiv {
	float: left;
	display: inline-block;
}
#topNav {
	list-style: none;
	margin: 0px;
	padding: 0px;
	float: left;
	display: inline-block;
	margin-left: 15px;
}
#topNav li {
	float: left;
	border-right: 1px solid #fff;
	padding: 0px 10px;
	margin-top: 12px;
}
#topNav li a {
	display: block;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}
#topNav li:last-child {
	border: none;
}
.topRight {
	float: right;
}
.searchDiv {
	float: left;
	display: inline-block;
	margin-top: 10px;
	margin-right: 30px;
}
.txtTop {
	background:url('../imgs/txt.jpg') no-repeat;
	padding-left:25px;
	padding-right:3px;
	width: 152px;
	height: 24px;
	float: left;
	margin-right: 8px;
	outline: 0;
	border:0;
}
.btnTop {
	background-color: #262626;
	border: medium none;
	color: #FFFFFF;
	cursor: pointer;
	margin-top: 1px;
	padding: 3px 12px;
}
.topRightLink {
	list-style: none;
	margin: 0px;
	padding: 0px;
	float: left;
	margin-top: 8px;
}
.topRightLink li {
	float: left;
	border-right: 1px solid #262626;
	padding: 3px 8px 3px 5px;
	height: 23px;
}
.topRightLink li a {
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #262626;
}
.topRightLink li:last-child {
	border: none;
}
#mainSection {
	background-color:#fff;
	padding:15px;
	margin-top:25px;
}
.topAside {
	width:160px;
	float:left;
}
.photoLinks {
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-top: 8px;
}
.photoLinks li {
	float: left;
	border-right: 1px solid #c5d5d5;
	padding:2px;
	height: 30px;
}
.photoLinks li a {
	display: block;
	font-size: 14px;
	font-weight: normal;
	color:#7c726c;
}
.photoLinks li:first-child a {
	color:#4a3c33;
	font-size:20px;
}
.photoLinks li:last-child {
	border: none;
	padding-top: 8px;
}
.imageFrame {
	border:1px solid #c5d5d5;
	width:155px;
	height:155px;
}
.topRightSection {
	float:left;
}
.topThreeSections {
	width:250px;
	float:left;
	text-align:center;
	margin-top:60px;
	font-size:16px;
}
.topThreeSections:first-child {
	margin-left:30px;
}
.completionDiv {
	height: 18px;
	border: 1px solid #c5d5d5;
	margin-top: 7px;
}
.percents {
	background-color:#ffff00;
	width:55%;
	height:17px;
	text-align:center;
	font-size:13px;
	padding-top:1px;
}
.secondSpan {
	padding-top: 28px;
	display: block;
}
.starSection {
	margin-top:55px;
}
.profileSpan {
	display:block;
	color:#24a5d1;
	font-style:italic;
	font-size:13px;
	font-family:Trebuchet MS;
	text-align:left;
	padding-top:1px;
}
.ratingSpan {
	color:#4a3c33;
	font-weight:normal;
	font-size:13px;
}
.mainNavigation {
	margin-top: 50px;
	margin-left: 7px;
}
.mainNavigation ul {
	list-style:none;
	margin:0px;
	padding:0px;
}
.mainNavigation ul li {
	float:left;
	border-left:1px solid #4a3c33;
	border-right:1px solid #4a3c33;
	padding:0px 7px;
	margin-right:20px;
}
.mainNavigation ul li a {
	display:block;
	color:#4a3c33;
	font-size:15px;
}
.mainNavigation ul li:hover {
	border-left:1px solid #9ccf34;
	border-right:1px solid #9ccf34;
}
.mainNavigation ul li.active {
	border-left:1px solid #9ccf34;
	border-right:1px solid #9ccf34;
}
.midLeftAside {
	width:243px;
	float:left;
	margin-top:10px;
}
.midRightSection {
	width:700px;
	float:left;
	margin-left:20px;
	margin-top:10px;
}
.informationSection {
	border: 1px solid #c5d5d5;
	padding-bottom: 20px;
}
.headingBg {
	background-color:#deedf6;
	height:27px;
	padding-left:12px;
	padding-top:7px;
	border-bottom:1px solid #c5d5d5;
}
.informationSpan {
	display: block;
	color: #4a3c33;
	font-size: 12px;
	padding-top: 15px;
	padding-left: 12px;
}
.informationSection2 {
	margin-top:170px;
}
.facebookLinks {
	background:url('../imgs/facebook.jpg') no-repeat;
	background-position:0% 50%;
	height:27px;
	display:block;
	margin-top:20px;
	padding-top:10px;
	padding-left:40px;
	margin-left:12px;
	color:#4a3c33;
	font-size:12px;
	font-style:italic;
	font-family:Georgia;
}
.twitterLinks {
	background:url('../imgs/twitter.jpg') no-repeat;
}
.socialLinks {
	background:url('../imgs/socialnetwork.jpg') no-repeat;
}
.emailSection {
	border: 1px solid #c5d5d5;
	color: #fff;
	min-height: 461px;
}
.emailTop {
	background-color:#499eff;
	height:34px;
	border-bottom:1px solid #c5d5d5;
	font-weight:normal;
}
.plusEmail {
	border: 1px solid #FFFFFF;
	-moz-border-radius: 60px;
	-khtml-border-radius: 60px;
	-webkit-border-radius:60px;
	border-radius: 60px;
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin-left: 200px;
	margin-top: 4px;
	padding: 4px 8px;
	text-align: center;
	color: #fff;
	font-weight:bold;
}
.new {
	float:left;
	margin-left: 3px;
	margin-top: 9px;
	color:#fff;
	font-weight:normal;
}
.reply {
	margin-top: 9px;
	float:left;
	margin-left:21px;
	border-right:1px solid #71b5ff;
	min-height:15px;
	padding-right: 6px;
	color:#fff;
	font-weight:normal;
}
.vLink {
	float: left;
	color: #fff;
	padding-left: 6px;
	padding-top: 10px;
	font-weight:normal;
}
.delete {
	border:0;
}
.refreshImg {
	float:right;
	margin-top:6px;
	margin-right:10px;
}
.txtEmailBg {
	background-color:#499eff;
	padding:1px;
	width:180px;
	height:24px;
}
.emailAside {
	background-color: #deedf6;
	min-height: 406px;
	width: 185px;
	float: left;
	border-right: 1px solid #c5d5d5;
	padding: 10px;
}
.inboxSpan {
	font-weight:bold;
	color:#141414 !important;
	display:block;
	font-size:15px;
	padding-top:20px;
	padding-left:10px;
}
.inboxSpan2 {
	font-weight:normal;
	padding-top:10px;
	font-size:13px;
}
#emailInnerSection {
float: left;
width: 488px;
overflow-y: scroll;
height: 426px;
}
.scrollRight {
	float:right;
	margin-top:15px;
}
.recentNewsSection {
	padding:10px;
	border:1px solid #c5d7d7;
	margin-top:10px;
}
.recentNews {
	position: absolute;
	margin-top: -14px;
	margin-left: 15px;
}
.recentNewsUpdate {
	padding: 10px;
	border: 1px solid #dde8e4;
	margin-top: 20px;
	margin: 17px 20px 0 17px;
	font-style: italic;
	min-height: 41px;
}
.footerBg {
	background-color:#23a3d0;
	min-height:77px;
	margin-top:20px;
	padding-top:25px;
	font-size:11px;
}
.footerLinks {
	list-style:none;
	margin:0px;
	padding:0px;
	margin-left:50px;
	float:left;
	width:315px;
}
.footerLinks li {
	float: left;
	margin: 3px 15px;
	width:120px;
}
.footerLinks li a {
	display:block;
	border-bottom:1px solid #227c96;
	color:#21190e;
}
.footerLinks li a:hover {
	border-bottom:1px solid transparent;
}
.footerRight {
	width:170px;
	float:right;
	display:inline-block;
	color:#21190e;
}
.footerRight a {
	color:#21190e;
	border-bottom:1px solid #227c96;
}
.footerRight a:hover {
	border-bottom:1px solid transparent;
}
/*************************Profile************************/
.profileBasic {
	background-color: #deedf6;
	height: 27px;
	padding-left: 12px;
	padding-top: 7px;
	border-bottom: 1px solid #c5d5d5;
	text-align:center;
}
.profileBasicLeft {
	width: 275px;
	float: left;
	margin-left: 32px;
	border: 1px solid #dfe9e8;
	padding: 10px;
	margin-top:21px;
	min-height:365px;
	padding-left:20px;
}
.profileBasicRight {
	width: 275px;
	float:left;
	margin-right:25px;
	border:1px solid #dfe9e8;
	padding:10px;
	padding-left:20px;
	margin-top:21px;
	min-height:365px;
}
.profileLabel {
	font-size:13px;
	font-weight:bold;
	color:#000000;
	display:block;
	margin-top:12px;
	padding-right:5px;
}
.profileLabel span {
	color: #16a6a4;
}
span.type {
	color:#000 !important;
}
.questionMark {
	background-color:#def3f6;
	-moz-border-radius: 30px;
	-khtml-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border-radius: 30px;
	padding: 2px 7px;
	color:#010300 !important;
}
.attachBtn {
	background-color:#e4e4e4;
	padding:6px 7px;
	border:0;
	border:1px solid #cdcbcc;
	cursor:pointer;
	font-weight:bold;
}
.btnDiv {
	text-align: center;
	margin-top: 5px;
}
.radio2 {
	margin:10px 0px;
}
.profileTopSpan {
	text-align: center;
	font-size: 25px;
	color: #000000;
	font-weight: normal;
	display: block;
	margin-left: 150px;
	margin-top: 54px;
	margin-bottom: 95px;
}
.edittopThreeSections {
	margin-left:150px !important;
}
.statistics {
	color:#74b20f;
	display:block;
	padding-top: 32px;
	padding-left:180px;
}
.basicProfileForm {
	margin:60px 65px;
}
.basicDivLeft {
	width:265px;
	float:left;
	margin-left:15px;
}
.borderStudent {
	border:2px solid #ababab;
	margin:5px 10px;
}
.studentGrid {
	height:375px;
	margin:5px 10px;
	overflow-y:scroll;
}
.gridSection {
	border: 1px solid #4a3c33;
	width: 640px;
	height: 55px;
	margin:10px 0px;
	padding:5px;
}
.studentGridSpan {
	color: #4a3c33;
	float: left;
	padding-top: 19px;
	padding-left: 10px;
}
.studentGridSpan span {
	font-style:italic;
}
.studentGridRight {
	float:right;
	width:200px;
	margin-right:10px;
}
.innerSeperatorGrid {
	border-right: 1px solid #c5d5d5;
	height: 27px;
	width: 1px;
	float: left;
	margin: 14px 20px 0px 20px;
}
.currentDiv {
	width:70px;
	float:left;
}
.currentSpan {
	color:#74b20f;
	display:block;
	font-size:14px;
	padding-top: 5px;
}
.dateSpan {
	font-size:14px;
	color:#9dd6dd;
	display:block;
	padding-top: 8px;
}
.viewLinkGrid {
	color: #9dd6dd !important;
	padding-top: 20px;
	float: left;
}
.expired {
	color:#ff1919;
}
.businessNav {
	margin-left:96px;
	margin-top:32px;
}
#businessNavigation {
	float:left;
	list-style:none;
	margin:0px;
	padding:0px;
}
#businessNavigation li {
	float:left;
}
#businessNav li a {
	display:block;
}
/*******************************BUSINESS AVAILABLE*************************/
.availablePosition {
	border:1px solid #c5d5d5;
	margin:20px;
}
.availableInnerLeft {
	width:50%;
	float:left;
	border-right:1px solid #c5d5d5;
}
.availableInnerRight {
	width:49%;
	float:left;
	padding-top:48px;
}
.availableInformation {
	background-color: #89BC60;
	color: #FFFFFF;
	font-size: 16px;
	height: 18px;
	width: 204px;
	margin-left: 34px;
	margin-top: -5px;
	text-align: center;
	padding: 4px 8px;
}
.maintainAvailable {
	margin-left:30px;
	padding-bottom:30px;
}
.informationRelevant {
	font-style:italic;
	color:#010101;
	display:block;
	padding-top:3px;
}
.radioDivBusiness {
	margin:0px;
}
.radioLeft {
	float:left;
	margin-right:10px;
	margin:5px 10px 3px 3px;
	color:#363435 !important;
}
.txtRadioAvailable {
	width:152px;
	height:30px;
	padding:3px 5px 0px 5px;
	color:#070707;
	border:1px solid #c5d5d5;
}
.radioAbsolute {
	color: #070707;
	height: 30px;
	margin-left: 230px;
	margin-top: -16px;
	padding: 3px 5px 0;
	position: absolute;
	width: 152px;
}
.maintainAvailableRight {
	margin-left:80px;
	padding-bottom:30px;
}
.positionInnerProfile {
	font-style:italic;
	color:#000 !important;
	font-weight:normal;
}
.availableInnerRadio {
	margin-top:30px;
}
.radioAbsolute2 {
	margin-left:180px;
	margin-top:7px;
}
.informationSection3 {
	width: 250px;
	float: left;
}
.recentNewsSection2 {
	width: 675px;
	float: left;
	margin-left: 20px;
	margin-top: 126px;
}
.employeeRequirement {
	color:#4c4c4c;
	display:block;
	font-size:18px;
	font-style:italic;
	font-weight:normal;
	padding-top:30px;
}
/******************************STUDENT WORK***************************************/
.workNav {
	margin-left:210px;
	margin-top:30px;
}
.workNavigation {
	list-style:none;
	margin:0px;
	padding:0px;
}
.workNavigation li {
	float:left;
	border:1px solid transparent;
}
.workNavigation li a {
	display:inline-block;
	font-size:18px;
	color:#fff;
	text-align:center;
	margin:1px;
	padding-top:6px;
	height:29px;
}
.workNavigation li:hover {
	border:1px solid #151515;
}
.workNavigation li.active {
	border:1px solid #151515;
}
.workNavigation li a.general {
	background-color:#84be1a;
	width:143px;
}
.workNavigation li.work {
	margin-left:35px;
}
.workNavigation li a.work {
	background-color:#ff8000;
	width:232px;
}
.workNavigation li.availability {
	margin-left:33px;
}
.workNavigation li a.availability {
	background-color:#24a1cf;
	width:138px;
}
.generalSection {
	border: 1px solid #C5D5D5;
	margin-bottom: 40px;
	margin-left: 169px;
	margin-top: 20px;
	min-height: 340px;
	width: 675px;
}
.workBottomNav {
	list-style:none;
	margin:0px;
	padding:0px;
	margin-top:10px;
	margin-left:369px;
}
.workBottomNav li {
	float:left;
	border-right:1px solid #c4d4d4;
}
.workBottomNav li a {
	margin:0px 7px;
	display:block;
	color:#4a3c33;
}
.workBottomNav li:last-child {
	border:0;
}
.innerGeneralSection {
	width:50%;
	float:left;
	border-right:1px solid #c5d5d5;
	min-height: 340px;
}
.innerGeneralAside {
	width:49%;
	float:left;
}
.innerGeneralMaintain {
	margin:32px;
}
.radioDiv2 {
	margin:15px 0px;
}
.innerGeneralMaintain2 {
	margin:25px;
}
.maintainAvailableRequirement {
	margin-left:10px;
}
.profileLabel2 {
	font-size:12px;
}
/****************************Availabilty Calendar*****************************/
.availabiltyCalendar {
	margin:40px 70px;
}
.workFromLeft {
	float: left;
	margin-left: 200px;
	margin-top: 37px;
	width: 320px;
	margin-bottom:50px;
}
.workFromRight {
	width:320px;
	float:left;
	margin-top:85px;
}
.profileLabel3 {
	margin-left:40px;
}
/***********************Student Profile Work***********************************/

.stProfileWork {
	margin:30px;
	border:1px solid #c5d5d5;
	min-height:168px;
}
.stProfileWorkLeft {
	width:50%;
	float:left;
	border-right:1px solid #c5d5d5;
	min-height:168px;
}
.stProfileWorkRight {
	width:49%;
	float:left;
}
.stProfileMaintain {
	text-align:center;
}
.availableInformation2 {
	width: 232px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 110px;
}
.absoluteText {
	position: absolute;
	color: #d8e3e3;
	margin-left: 7px;
	margin-top: 10px;
	font-size: 15px;
	font-weight:normal;
}
.stprofileLabel {
	text-align: left;
	margin-left: 97px;
	margin-top: 27px;
}
.absoluteText2 {
	margin-top: 21px;
}
.stProfileLink {
	color:#000;
	background:url('../imgs/st-plus.jpg') no-repeat;
	background-position:0% 50%;
	float:left;
	margin-left:100px;
	padding-left:25px;
	height:19px;
}
.stBtnCenter {
	text-align:center;
}
.stUpdate {
	padding:10px 15px;
	border:2px solid #24a1cf;
	font-size:22px;
	font-weight:bold;
	cursor:pointer;
	margin:30px 0px;
	background-color:#fff;
}


.requirementLeft {
	width:50%;
	float:left;
	border-right:1px solid #c5d5d5;
	min-height:350px;
}
.requirementRight {
	width:49%;
	float:left;
	padding-top:48px;
}
.radioAbsolute3
{
    margin-top: -45px;
}